// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin: 0px;
}
p:hover{
	color:red;
}
#lt-trick{
	z-index: 6;
	display:inline-block;
	position:fixed;
	background: url(movable.png) repeat;
	background-position: 700px 0;
	width:100%;
	top:0px;
	height:100%;
}
#img1, #img2{
	height: 100%;
	width: 100%;
	position: fixed;
	display: block;
	margin: auto;
}
#above-img2{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	position: fixed;
	z-index: 9;
}
#img1{
	height:150%;
	background: url(black.jpg);
	background-size: 100% 100%;
	background-position: center;
	z-index: 10;
}
#img2{
	background: url(bars.png) repeat;
	background-size: 20%;
	z-index: 5;
}
#part1, #part2, #part3{
	width: 100%;
	height: 700px;
	display:block;
	position: relative;
	z-index:20;
	margin: auto;
	text-align: center;
}
#part2{
	opacity: 0.02;
	background: url(grain2.png) repeat;
}
#part3{
	background: url(lines.png) repeat;
}
#above h1{
	color:white;
	font-size: 120px;
	font-family: Arial, sans-serif;
	display: inline-block;
	zoom: 1;
	margin-bottom: 20px;
	line-height: 0.9;
}

#above em{
	font-family: Georgia, Times;
	color:#77c18d;
	font-weight: normal;
	font-size: 100px;
}

#above h1>strong{
	font-family:Arial;
	font-weight:bolder;
}

#above a{
	font-size: 40px;
	display: inline;
	text-decoration: none;
	color:#77c18d;
}
#above a:hover{
	color:red;
}
#above ul{
	list-style: none;
	display:inline;
	padding: 10px;
}
#above ul li{
	font-size: 40px;
	display:none;
	color:gray;
	font-style: italic;
}

#above #part1 h2{
	padding:20px;
	font-size: 40px;
	color:white;
	font-weight: bold;
	width: 70%;
	margin:auto;
	background: none;
	background-size: 3%;
	margin-top: 20px;
}
h2.hide{
	opacity:0.2;
}

#above-img2 #head{
	display:inline-block;
	position:absolute;
	top:50px;
	left: 200px;
}
#above-img2 #intro{
	color:white;
	top:50px;
	display:inline-block;
	position:absolute;
}