<div id="holder">
<div id="img1">
</div>
<div id="img2">
</div>
<div id="above">
	<div id="part1">
		Hi, I am part1.
	</div>
	<div id="gap"></div>
	<div id="part2">
		Hi, I am part2.
	</div>
</div>
</div>