<div id="holder">
<div id="img1">
</div>
<div id="lt-trick">
</div>
<div id="img2">
</div>
<div id="above-img2">
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
		<p>hello I am the 2nd layer.</p>
		<p>here is the intro!</p>
</div>
<div id="above">
	<div id="part1">
		Hi, I am part1.
	</div>
	<div id="part2">
		Hi, I am part2.
	</div>
	<div id="part3">
		Hi, I am part3.
	</div>
</div>
</div>