<div id="holder">
	<div id="img1">
	</div>
	<div id="lt-trick">
	</div>
	<div id="img2">
	</div>
	<div id="above-img2">
		<img id="head" src="assets/head.png" />
		<div id="intro">
			<p>
			I am a Master Student in Columbia University.
			My major is Computer Science.
			I will graduate on Dec, 2013.
			I am looking for a fulltime position as a full stack developer.
			I am pretty interested in Web Development, including front-end and back-end.
			</p>
			<br>
			Public enum Skills{
			<ul>
				<li>Java</li>
				<li>Ruby on Rails</li>
				<li>JSP</li>
				<li>APS.NET</li>
				<li>C</li>
				<li>C#</li>
				<li>Ocaml</li>
				<li>SQL</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>Javascript</li>
				<li>jQuery</li>
				<li>Bootstrap</li>
			</ul>
		}
		<br>
			Public enum Courses{
			<ul>
				<li>Analysis of algorithms</li>
				<li>Advanced software engineering</li>
				<li>Programming language & translator</li>
				<li>Introduction to databases</li>
				<li>Operating System</li>
				<li>Database system implement</li>
				<li>Prin-innovation/entrepreneurship</li>
				<li>Project in computer science</li>
			</ul>	
		}

		</div>
	</div>
	<div id="above">
		<div id="part1">
			<h1>
				<em>Hi,</em>
				MY NAME IS<br>
				<strong>Xiaotong Chen</strong>
			</h1>
			<br>
			<img src="assets/breaker.png"/>
				<ul id="sentences">
					<li>I like both frontend and backend.</li>
					<li>Coding makes me feel good.</li>
					<li>Stay hungry. Stay foolish.</li>
				</ul>

			<img src="assets/breaker.png"/>
			<br>
			<h2 class="show">
				I'm a 23 year old Master Student, Web Developer & Coder in San Francisco, Ca, US. If you have a project or creative need that I can help with, please <a href="mailto:xc2230@columbia.edu">contact me</a>.
			</h2>
			<h2 class="hide">
				I'm looking for a fulltime position as a full-stack developer.
				I really enjoy coding and challenges!
			</h2>
		</div>
		<div id="part2">
			Hi, I am part2.
		</div>
		<div id="part3">
			<div id="edge"></div>
			Hi, I am part3.
			<div>
				<ul>
				<li>
					<div id="circle">hi</div>
					<p>heihei</p>
				</li>
				<li>
					<div id="circle">hi</div>
					<p>heihei</p>
				</li>
				<li>
					<div id="circle">hi</div>
					<p>heihei</p>
				</li>
				</ul>
			</div>
		</div>
	</div>
</div>